{{define "loginForm"}}
<div id="loginForm" class="box" style="box-shadow: 0 10px 20px rgba(0,0,0,0.3);">
    {{if .Message}}
    <div class="notification is-danger is-light">
        <p>{{.Message}}</p>
    </div>
    {{end}}
    <form>
        <div class="field">
            <label class="label" style="font-size: 22px;">Имя пользователя</label>
            <div class="control has-icons-left">
                <input class="input is-medium" type="text" name="username" placeholder="Владим Владимыч" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label" style="font-size: 22px;">Пароль</label>
            <div class="control has-icons-left">
                <input class="input is-medium" type="password" name="password" placeholder="*********************"
                    required>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>
        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button hx-post="/signup" hx-target="#loginForm" hx-swap="outerHTML"
                    class="button is-text is-medium">Зарегистрироваться</button>
            </div>
            <div class="control">
                <button hx-post="/login" hx-target="#loginForm" hx-swap="outerHTML" class="button is-primary is-medium"
                    type="submit">Залогиниться</button>
            </div>
        </div>
    </form>
</div>
{{end}}